.cc-window.cc-banner {
    z-index: 999999;
}
.cc-banner .cc-message, .cc-banner .cc-message p {
    font-size: 14px;
    line-height: 1.5em;
}
.cc-banner .cc-btn:last-child {
    width: auto;
    min-width: auto !important;
}

@media screen and (min-width: 1024px) {
    .cc-banner .cc-message p, .cc-banner .cc-message .cc-link {
        padding: 0 10%;
    }
}