<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magecomp_Cookiecompliance>
            <version>1.0.0</version>
        </Magecomp_Cookiecompliance>
    </modules>    
	<frontend>
		<routers>
			<cookiecompliance>
                <use>standard</use>
                <args>
                    <module>Magecomp_Cookiecompliance</module>
                    <frontName>cookiecompliance</frontName>
                </args>
            </cookiecompliance>
        </routers>
		<layout>
            <updates>
                <cookiecompliance>
                    <file>cookiecompliance.xml</file>
                </cookiecompliance>
            </updates>
        </layout>
	</frontend>
	<global>
		<blocks>
      		<cookiecompliance>
        		<class>Magecomp_Cookiecompliance_Block</class>
	 		</cookiecompliance>
	    </blocks>
		<helpers>
      		<cookiecompliance>
        		<class>Magecomp_Cookiecompliance_Helper</class>
      		</cookiecompliance>
    	</helpers>
		<models>
            <cookiecompliance>
                <class>Magecomp_Cookiecompliance_Model</class>
            </cookiecompliance>
        </models>
	</global>
	<adminhtml>
	  <layout>
       <updates>
    	  <cookiecompliance>
		     <file>cookiecompliance.xml</file>
    	 </cookiecompliance>
	    </updates>
	   </layout>
	</adminhtml>
	<adminhtml>
		<acl>
			<resources>
				 <all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<cookiecompliance>
											<title>Cookiecompliance</title>
										</cookiecompliance>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
    	<cookiecompliance>
	      <content>
    	    <massage>This website use cookie</massage>
	      </content>
		  <design>
		  		<background_color>FFA875</background_color>
				<button_bg_color>9985FF</button_bg_color>
		  </design>
		</cookiecompliance>
   </default>
</config>